/* Header module css */

/* Common css */
body {
	margin: 0px;
	padding: 0px;  
	font-family:Arial;
	font-size:12px;
	line-height:18px
}

a {
	text-decoration:none;
	color:#000;
}
a:hover {
	text-decoration:none;
	color:#e47600
}

.floatleft {float:left}
.floatright {float:right}
.center { 
	width: 984px;
	display: block;
	margin: 0 auto;
}
.fix {overflow:hidden}
/*End common css*/

/* Header area*/

/* ====Top====*/
.header_top {
	background: transparent url("./images/header_top_bg.png") repeat scroll 0px 0px;
	min-height: 35px;
	border-bottom: 3px solid #3D3D3D;
}
.header_top_elements{
	color: #bbbbbb;
	font-family: Georgia;
	font-size: 11px;
}
.header_site_date {
	display: block;
	float: left;
	font-style: italic;
	margin-right: 15px;
	padding: 8px 5px 0px 0px;
}
#header_menu {
	width: 680px;
	display:block;
	padding-top:3px;
}
#header_menu li{
	float: left;
	padding-right: 10px;
	position:relative;
}
#header_menu li a{
	color: #787878;
	display: block;
	font-style: italic;
	padding: 5px 17px 5px 5px;
}
#header_menu li a:hover{color:#bbbbbb;}

#header_menu li ul{
	background: url("./images/header_top_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	border-radius: 0 0 5px 5px;
	padding: 10px;
	position: absolute;left:-999999px;z-index:2000;
}

#header_menu li:hover ul{left:0;}
#header_menu li ul li{
	width: 146px;
	padding-right: 0px;
	background:none;
}

.header_add{background: none repeat scroll 0 0 #000;
	height: 60px;
	margin-top: 40px;
	width: 468px;
}

.header_bottom{
	background: url("./images/header_bottom_bg.png") repeat scroll 0 0 #000;
	min-height:210px;
}

.logo {
	margin-top: 50px;
	width: 300px;
}
.logo h1 {
	color: #f1eee5;
	float: left;
	font-size: 34px;
	line-height: 42px;
	margin-bottom: 0;
	font-family: helvetica;
	font-weight: bold;
}
.logo p {
	border-left: 1px solid #787878;
	color: #787878;
	float: right;
	margin-top: 42px;
	padding-left: 10px;
}
